<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>unitop-crm</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet"> 
	{{{isAdminEditorCSS user}}}

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container-fluid" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);">
						<div class="navbar-header">

							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>

							</button>
							<a class="navbar-brand" style="padding:6px;" href="/">
								<img src="/images/logo.png" alt="Dispute Bills" style="
                                height: 39px;
                                margin-left: 1rem;
                                margin-right: 1rem;
                            ">
							</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">
								{{# each navLinks}}
								<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}}>
									<a href="{{ href }}">{{ label }}</a>
								</li>
								{{/each}}
							</ul>
						</div>

					</div>
				</nav>

			</div>
		</div>
	</div>

{{{body}}}

	<footer id="myFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h2 class="logo">
						<a href="#">
							<img src="/images/logo.png" alt="" width="200" style="margin-top:30px">
						</a>
					</h2>
				</div>
				<div class="col-sm-2">
					<h5>课程设置</h5>
					<ul>
						<li>
							<a href="#">课程1</a>
						</li>
						<li>
							<a href="#">课程2</a>
						</li>
						<li>
							<a href="#">课程3</a>
						</li>
						<li>
							<a href="#">课程4</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-2">
					<h5>资料分享</h5>
					<ul>
						<li>
							<a href="#">PTE技巧</a>
						</li>
						<li>
							<a href="#">PTE真题</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-2">
					<h5>联系我们</h5>
					<ul>
						<li>
							<a href="#">Email : xxx@xxx.xxxx</a>
						</li>
						<li>
							<a href="#">Phone: 02 1234 1234</a>
						</li>
						<li>
							<a href="#">Address : 11 AAA. St. NSW. 1234 </a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<img src="/images/marketing.jpg" alt="" height="140" width="140" style="margin-top:30px">
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2016 Copyright Text </p>
		</div>
		
	</footer>

	<script src="/js/jquery/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> {{{isAdminEditorJS user}}}
	<script src="/js/app.js"></script>
</body>
</body>

</html>