{{!< default}} 
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"></default>
<div class="container-fluid main-carousel-holder" style="margin-top:73px">
	<div class="main-carousel" data-flickity='{ "imagesLoaded": true, "wrapAround": true}'>
		<img src="/images/carousel-1.jpg" />
		<img src="/images/carousel-2.jpg" />
		<img src="/images/carousel-3.jpg" />
	</div>
</div>

<div class="container unitop-home-container">
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				最新消息
			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="list-group">
				<a href="#" class="list-group-item active">PTE时讯</a>
				{{#each newscasts}}
				<div class="list-group-item">
					<a href="/newscast/{{ key }}">
						{{ title }}
					</a>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				热门课程
			</h3>
		</div>
	</div>
	<div class="row">

		{{#each courses}}
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{ name }}
					</h3>
				</div>
				<div class="panel-body">
					{{ summary }}
				</div>
				<div class="panel-footer">
					<a href="/courses/{{key}}">了解更多</a>
				</div>
			</div>
		</div>
		{{/each}}

	</div>
	<hr>
</div>

<div class="container-fluid">
	<h3 class="text-center">
		成绩单分享
	</h3>
	<div class="student-marks-carousel" data-flickity='{ "imagesLoaded": true, "wrapAround": true}'>
		<img src="/images/student_results/result-1.jpg"/>
		<img src="/images/student_results/result-2.jpg"/>
		<img src="/images/student_results/result-3.jpg"/>
		<img src="/images/student_results/result-4.jpg"/>
		<img src="/images/student_results/result-5.jpg"/>
		<img src="/images/student_results/result-6.jpg"/>
		<img src="/images/student_results/result-7.jpg"/>
	</div>
</div>