<div class="container unitop-container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-primary">
                资料分享
            </h3>
            <div class="tabbable" id="tabs-275238">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-629739" data-toggle="tab">学习资料
                        </a>
                    </li>
                    <li>
                        <a href="#panel-302822" data-toggle="tab">经验分享</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-629739">
                        <!--  -->

                        <div class="row">
                            {{#each materials}}
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <div style="height:200px;overflow:hidden;">
                                        <img style="width:100%;" src="{{featuredImage.secure_url}}" />
                                    </div>
                                    
                                    <div class="caption">
                                        <h3 style="height:100px">
                                            {{ title }}
                                        </h3>
                                        <p style="height:150px">
                                            {{ summary }}
                                        </p>
                                        <p>
                                            <a class="btn btn-default" href="/material/{{ key }}">了解更多</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>


                        <!--  -->
                    </div>
                    <div class="tab-pane" id="panel-302822">
                        <!--  -->

                        <div class="row">
                            {{#each experiences}}
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img style="height:200px;width:auto;" src="{{featuredImage.secure_url}}" />
                                    <div class="caption">
                                        <h3 style="height:100px">
                                            {{ title }}
                                        </h3>
                                        <p style="height:150px">
                                            {{ summary }}
                                        </p>
                                        <p>
                                            <a class="btn btn-default" href="/experience/{{ key }}">了解更多</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>